.DS_Store
output
*.log
*.out
*.aux
*.pdf
*.gz
*.tfm
*.vf
*.map
*.pfb
*.fd
private-vars.tex
private-photo.jpg
private-photo.png
me.jpeg
me.png
me.jpg
fonts/
fontawesome.sty
parskip.sty
parskip-*.sty
tcolorbox.sty
tcb*.tex
sourcesans.sty
sourcesanspro.sty
sourcesans-type1-autoinst.sty
FontAwesome.ttf
tcolorbox.doc.*
